.button {
    border: 1px solid black;
    padding: 5px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.container {


    display: flex;

    flex-flow: row wrap;
    justify-content: flex-start;
}

#header a.button{
    flex: 0 1 auto;
}